
    :root{
        --crl-primary-orange: hsl(25, 97%, 53%);

        --crl-neutral-white: hsl(0, 0%, 100%);
        --crl-neutral-light-grey: hsl(217, 12%, 63%);
        --crl-neutral-medium-grey: hsl(216, 12%, 54%);
        --crl-neutral-dark-blue: hsl(213, 19%, 18%);
        --crl-neutral-very-dark-blue: hsl(216, 12%, 8%);

        --ff-accent:'Overpass', sans-serif;

        --fw-700: 700;
        --fw-400: 400;
    }
    body{
        background-color: var(--crl-neutral-very-dark-blue);
        font-family: var(--ff-accent);
        font-size: 15px;
    }
    .product{
        background-color: var(--crl-neutral-dark-blue);
    }
    .button{
        font-family: inherit;
    }


    .attribution { 
        font-size: 11px; text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
